#frame,.header {
    -ms-flex-direction: column;
}

.action,.menu li {
    cursor: pointer;
}

.menu,.sublist {
    list-style: none;
}

.hidden {
    display: none;
}

.footer {
    bottom: 0;
}

#frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 6vh;
    display: flex;
    flex-direction: column;
    font-family: raleway,sans-serif;
    font-weight: 600;
    align-items: center;
    background: #f9f1e2;
    color: #67573d;
}

.footer {
    padding: 1vh;
    position: fixed;
    border-top: .3vh solid #67573d;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f9f1e2;
    font-size: 3vh;
    z-index: 100;
}


.impressum {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1000;
    background: #f9f1e2;
    border-radius: 1.5vh;
    border: .5vh solid #67573d;
    padding: .6vh 1vh 1.5vh 1.5vh;
    width: 90vw;
    font-size: 2vh;
}

.impressumChild {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 75vh;
    max-width: 90vw;
    text-align: justify;
    padding-right: 15px;
}

.impressumHead {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 4vh;
    justify-content: flex-end;
    border-bottom: solid .3vh #67573d;
    margin-bottom: 1.5vh;
}


.impressumUnhide:checked~.impressum.hidden,.impressumUnhide:checked~.impressumLabel.hidden {
    display: block
}

.closeButton {
    padding: 0 5px;
    line-height: 3vh;
    font-size: 4vh
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%
}

.headImg {
    background-position: center 30%;
    background-size: 100%;
    width: 100%;
    height: 30vh;
    border: 1vh solid #dcd3b6;
    box-sizing: border-box;
}

.headImg.small {
    margin-top: 5vh;
    height: 20vh;
}

.menu,.menuWrapper {
    background: #dcd3b6;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 0 1vh;
    width: 80%;
    font-size: 3vh;
}

.head2 {
    margin: 0;
    align-self: flex-end;
    min-width: 50%;
    text-align: center;
}

.head1,.head3 {
    align-self: flex-start;
    text-align: center;
}

.head1 {
    -ms-flex-item-align: start;
    margin-top: 6vh;
    min-width: 80%;
}

.head3 {
    min-width: 20%;
    -ms-flex-item-align: start;
    margin: 0 0 1em;
    font-size: 2.5vh
}

.nowrap {
    margin: 0;
    display: inline-block;
    white-space: nowrap
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2vh;
    align-items: center;
    margin: 0;
    padding: .8vh 0
}

a {
    text-decoration: none
}

.menu li {
    color: #67573d;
    padding: .2vh 2vw;
    position: relative;
}

.menuWrapper {
    color: #f9f1e2;
}

.fa.hideMenuButton {
    position: absolute;
    right: 2vw;
    top: .75vh;
    font-size: 4vh;
    cursor: pointer
}

.backlayer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    z-index: 100;
}

.sublist {
    display: none;
    position: absolute;
    background: #dcd3b6;
    border: solid 3px #67573d;
    top: 2.7vh;
    padding: 1vh;
    width: 20vw;
    right: 50%;
    transform: translateX(50%);
}

.menu span,li:hover .sublist {
    display: block
}

.sublist li {
    padding: 1vh;
    text-align: center
}

#text {
    width: 80%;
    font-size: 2.2vh;
    text-align: center
}

.menu .hasSublist span {
    cursor: default;
    width: 100%
}

.sectionList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 0.6vh;
    border-bottom: none;
    border-top: none;
    overflow-y: scroll;
}

.sectionList section {
    width: 90%;
    min-height: 100px;
    background: #dcd3b6;
    margin: 1vh 0;
    padding: 2vh;
    text-align: left;
}

#redirectLabel {
    display: inline;
}
button#addSubdomain {
    margin-top: 1vh;
    height: 3vh;
    width: 15vh;
    background: #67573d;
    color: #f9f1e2;
    font-family: raleway;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}
button#addSubdomain:hover {
    background: rgba(103, 87, 61, 0.9);
}
.sectionList label {
    font-size: 2vh;
    display: block;
    margin-top: 1vh;
}
.sectionList input {
    height: 2vh;
    background: #f9f1e2;
    width: 40vh;
    max-width: 90%;
    border: 2px solid #67573d;
    border-radius: 4px;
    min-width: 45%;
}
#redirect {
    width: 2vh;
    min-width: 2vh;
}
#redirect:checked ~ .reverseForm {
    display: none;
}
#redirect:checked ~ .redirectForm {
    display: block;
}
.redirectForm{
    display: none;
}

@media (min-aspect-ratio: 1/1) {
    h1 {
        font-size:4vh
    }

    .fa.hideLarge,.hideLarge {
        display: none
    }

    .menu li:hover {
        background: #67573d;
        color: #dcd3b6;
    }
}

@media (max-aspect-ratio: 1/1) {
    .menu,.menu a {
        padding:0
    }

    h1 {
        font-size: 3vh;
        margin-bottom: 1vh;
    }

    .fa.hideSmall,.hideSmall {
        display: none
    }

    .head1 {
        margin-top: 8vh
    }

    .head1,.head2 {
        width: 100%;
        text-align: center;
        margin-bottom: 0
    }

    .head3 {
        margin: 0 0 1em;
        font-size: 2.5vh;
    }

    .headImg {
        height: 20vh
    }

    .menu {
        font-size: 3vh;
        z-index: 1000;
        position: fixed
    }

    .menuWrapper {
        position: fixed;
        height: 5.5vh;
        background: #67573d;
    }

    #hideMenu:checked~.backlayer,#hideMenu:checked~.menu {
        display: block;
        margin-top: 5.5vh;
    }

    .menu>li {
        padding: 1vh 0;
        text-align: center;
        border-top: #67573d .7vh solid;
    }
    .menu>li:nth-child(1) {
        border-top: none;
    }

    .sublist li {
        border-top: #dcd3b6 1px solid;
        color: #dcd3b6;
    }

    .footer {
        padding: 2vh
    }

    .sublist {
        position: relative;
        padding: 0;
        margin: 0;
        width: 100vw;
        font-size: 2.5vh;
        top: 1vh;
        display: block;
        right: 0;
        -webkit-transform: none;
        transform: none;
        background: #67573d;
        color: #dcd3b6;
        border: none;
    }

    .sublist li:hover {
        background: #dcd3b6;
        color: #67573d;
        border-top-color: #67573d;
    }

    .menu span {
        padding: 1vh 0;
        font-size: 3.5vh
    }
}

@media (max-width: 750px) {
    .headImg {
        background-image:url(/images/img_small.jpg)
    }
}

@media (max-width: 1250px) and (min-width:750px) {
    .headImg {
        background-image:url(/images/img_medium.jpg)
    }
}

@media (max-width: 1850px) and (min-width:1250px) {
    .headImg {
        background-image:url(/images/img_large.jpg)
    }
}

@media (min-width: 1850px) {
    .headImg {
        background-image:url(/images/img_xl.jpg)
    }
}
